MQTT_BROKER_URL=mqtt://localhost:1883      
MQTT_TOPIC=energy/metrics                  
INFLUXDB_URL=http://localhost:8086         
INFLUXDB_TOKEN=tu_token_aqui               
INFLUXDB_ORG=tu_organizacion               
INFLUXDB_BUCKET=energy_metrics  